<div class="center hero-unit" controller="LoginCtrl">
    <h1>ScribDen</h1>
    <form id="loginForm" name="loginForm" ng-submit="login()">
        <input type="text" id="username" name="username" placeholder="Username" ng-model="form.username" />
        <br />
        <input type="password" id="password" name="password" placeholder="Password" ng-model="form.password" />
        <br />
        <a class="btn" href="/register" id="signup" name="signup">Sign Up</a>
        <input type="submit" class="btn" id="login" name="login" value="Login">
    </form>
</div>