<div class="center hero-unit">
    <h1>ScribDen</h1>
    <form id="loginForm" name="loginForm" ng-submit="register()">
        <input type="text" id="username" name="username" placeholder="Username" ng-model="form.username" />
        <br />
        <input type="password" id="password" name="password" placeholder="Password" ng-model="form.password" />
        <br />
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" ng-model="form.confirmpwd" />
        <br />
        <input type="submit" class="btn" id="login" name="login" value="Begin">
    </form>
</div>