<div ng-controller="EditCommonRoomModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
        <h3 ng-show="newCommonRoom">Create New Common Room</h3>
        <h3 ng-hide="newCommonRoom">Edit Common Room: {{ form.name }}</h3>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">Name:</label>
                <div class="controls">
                    <input type="text" ng-model="form.name" placeholder="Name" />
                </div>
                <label class="control-label">Description:</label>
                <div class="controls">
                    <input type="text" ng-model="form.description" placeholder="Description" />
                </div>
                <label class="control-label"></label>
                <div class="btn-group controls" data-toggle="buttons-checkbox">
                    <button type="button" class="btn btn-primary" ng-model="form.isPublic" btn-radio="true">Public</button>
                    <button type="button" class="btn btn-primary" ng-model="form.isPublic" btn-radio="false">Private</button>
                </div>
                <label class="control-label">Banner:</label>
                <div class="controls">
                    <input type="text" ng-model="form.banner" placeholder="http://" />
                    <button type="button" class="btn">Browse...</button>
                </div>
                <label class="control-label">Home Page Background:</label>
                <div class="controls">
                    <input type="text" ng-model="form.homeBG" placeholder="http://" />
                    <button type="button" class="btn">Browse...</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn pull-left" data-dismiss="modal" ng-click="close()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="incomplete" data-dismiss="modal" ng-click="save()">
                Save Changes
            </button>
        </div>
    </form>
</div>