<div class="center hero-unit" ng-controller="ManageCommonRoomsCtrl">
    <li ng-hide="commonRooms.length">No common rooms</li>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="moderatedTab" ng-click="showModeratedCommonRooms()" data-toggle="tab">Moderated</a>
            </li>
            <li>
                <a id="participatingTab" ng-click="showParticipatedCommonRooms()" data-toggle="tab">Participating</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" ng-class="{ active: isModerator }" id="tab1">
                <div ng-repeat="commonRoom in commonRooms">
                    <button id="createNewBtn" ng-hide="commonRoom[0]" data-toggle="modal" ng-click="editCommonRoom(commonRoom)" class="btn">Create New Common Room</button>
                    <button id="updateBtn" ng-show="commonRoom[0] && (commonRoom[3] == userid)" data-toggle="modal" ng-click="editCommonRoom(commonRoom)" class="btn">{{ commonRoom[1] }}</button>
                </div>
            </div>
            <div class="tab-pane" ng-class="{ active: !isModerator }" id="tab2">
                <div ng-repeat="commonRoom in commonRooms">
                    <div ng-show="commonRoom[0] && (commonRoom[3] != userid)">
                        <span>{{ commonRoom[1] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>